$bkg-dark: #080626;
$accent-bright_aqua: #3DF2BF;
$accent-bright_aqua-contrast: #00CCAD;
$accent-dull: #BBD983;
$accent-neutral_melon: #F2A479;
$accent-neutral_peach: #F29785;
$neutral-warm: #E5DFE5;
$neutral-cool: #EBEBEB;